# Compiled class file
*.class

# Log file
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# Eclipse Core      
.project

# JDT-specific (Eclipse Java Development Tools)     
.classpath


/.settings
